@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
  font-family: "Whisper";
  src: url("../public/fonts/Whisper-Regular.ttf");
}


@font-face {
  font-family: "Moret";
  src: url("../public/fonts/Moret-Regular.woff");
}